.main {
  margin-bottom: 80px;
}

.project {
  padding-bottom: 100px;
}

.icons {
  padding: 10px;
  color: #222;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 20px;
}